# https://git-scm.com/docs/gitmodules
[submodule "home/.oh-my-zsh"]
	path = home/.oh-my-zsh
	url = http://github.com/robbyrussell/oh-my-zsh.git
[submodule "home/.vim/bundle/Vundle.vim"]
	path = home/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
    